@model Vidly.ViewModels.RegisterViewModel

<h2>Sign Up</h2>

<form method="post" asp-action="Register" asp-controller="Accounts">
    @if (User.IsInRole(Vidly.Utility.Helper.Admin))
    {
        <h4>Register An Admin Account.</h4>
    }
    else
    {
        <h4>Create a new account.</h4>
    }
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Name"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label class="col-md-2" asp-for="Email"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label class="col-md-2" asp-for="Password"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label class="col-md-2" asp-for="ComfirmPassword"></label>
        <div class="col-md-10">
            <input asp-for="ComfirmPassword" class="form-control" />
            <span asp-validation-for="ComfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label class="col-md-2" asp-for="RoleName"></label>
        <div class="col-md-10">
            <select asp-for="RoleName" 
            asp-items="@Vidly.Utility.Helper.GetRolesForDropDown(User.IsInRole(Vidly.Utility.Helper.Admin))"
                    class="form-control" ></select>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Register" class="btn btn-success" />
        </div>
    </div>
    <br />
    <p class="col-md-10 offset-md-2">
        <a asp-action="Login">Sign In</a>
    </p>
</form> 

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}