@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<br />
<a asp-action="New" asp-controller="Customers" class="btn btn-primary">Add Customer</a>
<br />
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        @*    @foreach (var customer in Model)
            {
                <tr>
                    <td><a asp-controller="Customers" asp-action="Edit" asp-route-id="@customer.Id">@customer.Name</a></td>
                    <td>@customer.MembershipType.Name</td>
                    <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
                </tr>
            }*@
        </tbody>
    </table>
}

@section scripts{
    <script>
        $(document).ready(function(){
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers/getcustomers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link btn-danger js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click",".js-delete",function(){
                var button = $(this);
                bootbox.confirm("Are you sure,you want to delete this customer?",function(result){
                    if(result){
                        $.ajax({
                                url: "/api/customers/delete/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                button.parents("tr").remove();
                                }   
                        });
                    }
                });
            });
        });
    </script>
}